.cache
sbt-launch.jar
*.xls
.Rhistory
AMO39-2012/*.png
AMO40-2013/*.png
AMO40-2013-EN/*.png
AMO41-2014/*.png
AMO42-2015/*.pdf
SOL61-2011/*.png
extra-lib/*.jar
lib/*.jar
project/target/*
src/main/resources/classes
src/main/resources/src
/bin
/target
/dist
reports/cache/*
reports/.RData
reports/*.aux
reports/*.log
reports/*.out
reports/*.Rout
reports/figure/*.pdf
/src/main/resources/math/sample-svg/nbproject/private/
zpd-election-ads/.Rhistory
