.cache
sbt-launch.jar
AMO39-2012/*.png
AMO40-2013/*.png
AMO40-2013-EN/*.png
AMO41-2014/*.png
SOL61-2011/*.png
extra-lib/*.jar
lib/*.jar
project/target/*
src/main/resources/classes
src/main/resources/src
/bin
/target
