table {
    width:40%;
}
td {
    width:2%;
    position:relative;
	border: 1px solid black;
}
td:after{
    content:'';
    display:block;
    margin-top:100%;
}
td .content {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:green;
}


td .wrong {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:pink;
}

td .blank {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:white;
}


span.forestgreen { color: forestgreen; }
span.darkblue { color: darkblue; }
span.darkorange { color: darkorange; }
span.deeppink { color: deeppink; }
